streamlit>=1.32
pycaret>=3.3
pandas>=2.0
scikit-learn>=1.2
matplotlib>=3.7
seaborn>=0.13
shap>=0.45
flask>=2.3
email-validator
numpy>=1.23
scipy>=1.10
plotly>=5.10
joblib>=1.2
lightgbm>=4.0
xgboost>=2.0
catboost>=1.2
imbalanced-learn>=0.11
